<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- Correct path to CSS file -->
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome, <%= username %>!</h1>
    <a href="/admin/list/users">View Users</a>
  </body>
</html>
